<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Vane</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link href="/css/normalize.css">

    <script src="https://kit.fontawesome.com/4aadd1bf04.js" crossorigin="anonymous"></script>

    <link href="/css/styles.css" rel="stylesheet">

    <meta name="viewport" content="width= device width, initial-scale=1">
</head>

<body>
    <header>
        <div class="arriba">
            <div class="encabezado">
                <img class="logo" src ="/img/logo-mercado-liebre.svg"  alt=Logo>
                <div class="barra-lupa">
                    <input class="barra-busqueda" type="text" placeholder="Búsqueda"><button> <i class="fa-solid fa-magnifying-glass"></i></button> 
                </div>
            </div>

            <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
                crédito
            </p>
        </div>

        <nav class="nav">
            <div class="menu">
                <ul class="login-1">
                    <li> <a href ="#">Ofertas</a> </li>
                    <li><a href ="#">Tiendas oficiales </a></li>
                    <li><a href ="#"> Vender</a></li>
                    <li><a href ="#"> Ayuda</a></li>
                </ul>
                <ul class="login-2">
                    <li> <a href ="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li> <a href ="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                    <li> <a href ="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

    </header>

    <section>
        <img class="img-banner" src="img/img-home-banner.jpg" alt="banner">
    </section>

    <main>
        <section class="cartas">
            <div class="titulos">
                <h4>Basado en tu última visita</h4>
            </div>
            <article class="cajas">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>
            </article>
            <article class="cajas">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>
            </article>

            <article class="cajas">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>
            </article>

            <article class="cajas">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
            </article>

        </section>

        <section class="cartas">
            <div class=titulos>
                <h4>Ofertas</h4>
            </div>
            <article class="cajas">
                <img class="imagenes" src="/img/img-cafetera-moulinex.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex</p>
                </article>
            </article>

            <article class="cajas">
                <img class="imagenes" src="/img/img-macbook-pro-2019.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019</p>
                </article>
            </article>

            <article class="cajas">
                <img class="imagenes" src="/img/img-samsung-galaxy-s10.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </article>
            </article>

            <article class="cajas">
                <img class="imagenes" src="/img/img-tv-samsung-smart.jpg">
                <article class="caja2">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio-desc">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </article>
            </article>
        </section>
    </main>

    <footer>
        <div class="pie-pagina">
            <section class="pie">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>


            <section class="pie">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>


            <section class="pie">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </section>
        </div>


        <section class="pie">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>


    </footer>

</body>

</html>